@font-face {
    font-family: poppins;
    src: url("../font/Poppins-Regular.otf");
}

@font-face {
    font-family: inter;
    src: url("../font/Inter-Regular.ttf");
}

#body {
    margin: 0rem;
    font-family: inter !important;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined.viewAgenda {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}


/* batas atas navbar baru */
.breadCrumb {
    font-size: 0.8rem;
}

#logoutUser {
    color: #3C2A21;
    text-decoration: none;
}

#navbar {
    width: 100%;
    height: 4rem;
    /* height: 30% !important; */
    background-color: #E5E5CB;
}

#navbar p {
    /* width: 500px; */
    margin: 0rem;
    font-size: 1.2rem;
    font-family: inter;
    color: #3C2A21;
    font-weight: bold;
    margin-left: 1rem;
}


@media screen and (max-width: 575px) {

    /* breakpoint navbar */
    div#iconBeranda {
        display: none;
    }

    div#navbar1 {
        margin-top: 0.5rem;
    }

    div#navbar2 {
        margin-bottom: 0.5rem;
    }

    div#idPengguna {
        float: none;
    }

    div#navbar {
        height: fit-content;
    }

    /* breakpoint konten */
    div#itemCatatan {
        margin-bottom: 2rem;
    }

    div#listCatatanPerwalian {
        margin-left: auto;
        margin-right: auto;
    }

    div#itemNamaMhs {
        width: 350px;
    }

    div#itemMahasiswa {
        margin-bottom: 2rem;
    }

    div#judulWeb {
        display: inline;
        width: max-content;
    }

    div#infoMahasiswa {
        border-bottom: none !important;
    }

    span.cekal {
        display: none;
    }

    span.cekalDash {
        display: none;
    }

    span#cekalBullet {
        display: inline !important;
        font-size: inherit;
    }

    input#inputCariCatatanPerwalian {
        width: 300px;
    }

    img#fotoDosen {
        width: 40% !important;
    }

    div#bagianGrupAngkatan {
        margin-left: 1rem;
    }

    div#containerMahasiswaAngkatan {
        width: 100px !important;
    }


}

@media screen and (max-width:992px) {

    /* breakpoint navbar */
    div#navbar {
        height: fit-content !important;
    }

    div#idPengguna {
        float: none;
    }

    img#fotoDosen {
        width: 20%;
    }

    div#containerMahasiswaAngkatan {
        width: 600px;
    }
}

@media screen and (max-width:2000px) {
    span#cekalBullet {
        display: none;
        font-size: inherit;
    }
}

/* batas bawah navbar baru */
#buttonSort {
    background-color: #EFEFEF;
}

.btn.btn-secondary.dropdown-toggle {
    font-size: 1rem;
    background-color: #E5E5CB;
    color: #3C2A21;
    font-family: inter;
    border: none;
    font-weight: bold;
    transition: 0.4s all ease;
    margin-left: 0.2rem;
}

.btn.btn-secondary.dropdown-toggle:hover {
    background-color: #d5d5be;
    color: #3C2A21;
    font-family: inter;
    border: none;
    font-weight: bold;
}

.btn.btn-secondary.dropdown-toggle:focus {
    background-color: #d5d5be;
    color: #3C2A21;
    font-family: inter;
    border: none;
    font-weight: bold;
}

#breadcrumb {
    font-size: 0.8rem;
    font-family: inter;
}

#content {
    clear: both;
}

#contentKiri {
    font-size: 0.9rem !important;
}

/* matikan scrollbar */
.mySticky::-webkit-scrollbar {
    display: none;
    /* position: absolute; */
}

.mySticky {
    overflow-y: auto;
    width: 100%;
    height: 35rem;
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    transition: 0.4s ease-in-out;

    padding-bottom: 15rem;
}

.heightScroll {
    height: 38rem !important;
}

.paddingTop {
    padding-top: 4rem;
}

.stickyNavbar {
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    z-index: 99 !important;
}

#contentKiri a {
    text-decoration: underline;
    color: #3C2A21;
}

#fotoDosen {
    width: 40%;
    margin-top: 2rem;
    display: block;
    z-index: 1;
}

#infoDosen p:nth-child(1) {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

#infoDosen p:nth-child(2) {
    text-align: center;
    font-size: 1rem;
    margin: 0.2rem;
}

.garis {
    width: 5rem;
    border-top: 3px solid #3C2A21;
    margin-left: auto;
    margin-right: auto;
}

#infoDosen .col-7 p {
    font-weight: normal;
    font-size: 1rem;
    font-family: inter;
    text-align: left;
}

#infoDosen .col-4 p {
    width: 3rem;
    height: 2rem;
    margin-right: 0.5rem;
    padding: 0.2rem;
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
    font-family: inter;
    border-radius: 0.8rem;
    background-color: #d5d5be;

}

#infoDosen .col-12 p {
    font-size: 1rem;
    font-weight: normal;
    /* text-align: left; */
}

.jumlahMahasiswaBimbingan {
    padding: 0.3rem 0.8rem;
    text-align: center;
    font-size: 1rem;
    font-family: inter;
    border-radius: 0.8rem;
    background-color: #d5d5be;
}

.material-symbols-outlined.dropdown {
    cursor: pointer;
}

#infoMahasiswaBimbingan {
    z-index: 99 !important;
    /* position: absolute; */
    background-color: white;
    margin-left: -1rem;
    margin-top: -10rem;
    box-shadow: 7px 7px 36px -4px rgb(0 0 0 / 25%);
    border-radius: 0.625rem;
}

#dataBimbinganDosen {
    font-size: 1rem;
}




.itemInfoMahasiswaBimbingan {
    transition: 0.1s all ease-in-out;
}

.itemInfoMahasiswaBimbingan:hover {
    background-color: #EFEFEF;
    transition: 0.1s all ease-in-out;
}

li.itemInfoMahasiswaBimbingan div a {
    text-decoration: none !important;
}

#dataAngkatanBimbingan {
    cursor: pointer;
    padding: 0.3rem 0.0rem;
    border-radius: 0.625rem;
    transition: 0.1s all ease-in-out;
}

#dataAngkatanBimbingan:hover {
    background-color: #EFEFEF;
    padding: 0.3rem 0.3rem;
    border-radius: 0.625rem;
    transition: 0.1s all ease-in-out;
}



#infoMahasiswaBimbingan ul {
    list-style-type: none;
    margin-bottom: 0rem;
    padding-left: 0rem;
}

#totalMahasiswaPerwalian p:nth-child(1) {
    text-align: left;
}

#angkatanMahasiswa {
    width: 17rem;
}

#inputCariCatatanPerwalian {
    width: 23rem;
    height: 35px;
    padding-left: 1.9rem !important;
    border-radius: 0.6rem;
    border: 2px solid #878787;
    font-size: 0.8rem;
}

#inputCariCatatanPerwalian:focus {
    outline: none;
    border-radius: 0.6rem;
    box-shadow: 0px 0px 3px 3px #E5E5CB;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#indikatorWarna {
    font-size: 0.8rem;
}

#judulCariCatatanPerwalian {
    font-size: 1.2rem;
    font-weight: bold;
    /* font-family: inter; */
}

#listCatatanPerwalian {
    width: auto;
}


#tambahCatatan {
    color: #3C2A21;
    font-weight: bold;
    font-family: inter;
    text-decoration: none;
}

.card-body {
    width: auto !important;
    border-radius: 0.625rem;
    box-shadow: 7px 7px 36px -4px rgb(0 0 0 / 25%);
}

#itemCatatan {
    background-color: transparent !important;
    box-shadow: none !important;
}

#itemCatatanPerwalian {
    /* width: fit-content; */
    font-family: inter;
    border: none;
    padding: 0rem !important;
}

#itemCatatanPerwalian a {
    color: #007BFF;
}

#itemCatatanPerwalian a:hover {
    color: #007BFF;
}

#lihatSemuaCatatan a {
    color: #3C2A21;
    text-decoration: underline;
    font-family: inter;
    font-weight: bold;
}

#itemCatatanPerwalian h5 {
    font-size: 1rem;
    font-weight: bold;
    font-family: inter;
}

#garisBatasCatatan {
    border-bottom: 2px solid #e6e6e6;
    width: 85%;
}

.judulTambahCatatan {
    display: inline;

}

.material-symbols-outlined.bullet {
    margin-right: 0.2rem;
}

.material-symbols-outlined.bullet.align-middle:nth-child(1) {
    font-size: inherit;
    color: #DC3545;
}

.material-symbols-outlined.bullet.align-middle:nth-child(3) {
    font-size: inherit;
    color: #007BFF;
}

.material-symbols-outlined.bullet.align-middle:nth-child(5) {
    font-size: inherit;
    color: #28A745;
}

.material-symbols-outlined.bullet.align-middle:nth-child(7) {
    font-size: inherit;
    color: #FFC107;
}

.garisMahasiswa {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* position: absolute; */
    display: block;
    border-bottom: 5px solid #DC3545;
    border-radius: 0.6rem;
    margin-bottom: 0.5rem;
    margin-top: -0.2rem;
}

.garisOrangTuaWali {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* position: absolute; */
    display: block;
    border-bottom: 5px solid #007BFF;
    border-radius: 0.6rem;
    margin-bottom: 0.5rem;
    margin-top: -0.2rem;
}

.garisOrangTuaWaliMahasiswa {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* position: absolute; */
    display: block;
    border-bottom: 5px solid #28A745;
    border-radius: 0.6rem;
    margin-bottom: 0.5rem;
    margin-top: -0.2rem;
}

.garisGrupAngkatan {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* position: absolute; */
    display: block;
    border-bottom: 5px solid #FFC107;
    border-radius: 0.6rem;
    margin-bottom: 0.5rem;
    margin-top: -0.2rem;
}




span.material-symbols-outlined.search {
    position: absolute;
    padding-top: 0.4rem;
    padding-left: 0.3rem;
    color: #878787;
}

#mahasiswaAngkatan {
    margin-right: -1.25rem;
}

#mahasiswaAngkatan p {
    font-size: 1.2rem;
    font-weight: bold;
}

.namaMahasiswa {
    color: #3C2A21;
    transition: 0.4s all ease !important;
}

.namaMahasiswa:hover {
    color: #3C2A21;
    text-decoration: underline !important;
    transition: 0.4s all ease !important;
}

#itemNamaMhs {
    width: 90%;
    margin-top: 1.2rem;
    padding: 1rem 0rem;
    background-color: white;
    border-radius: 0.625rem;
    box-shadow: 7px 7px 36px -4px rgba(0, 0, 0, 0.25);
}

a.lihatSelengkapnya {
    font-weight: bold;
    text-align: right;
    color: #3C2A21;
}

#iconMahasiswa {
    width: 55px;
    height: 55px;
    background-color: white;
    float: left;
}

#iconMahasiswa span {
    font-size: 40px;
    color: #3C2A21;
}

#infoMahasiswa {
    width: 100%;
    height: 55px;
    background-color: white;
    border-bottom: 2px solid #d3d3d3;
}

#infoMahasiswa p {
    font-weight: normal;
    font-size: 1rem;
    margin: 0rem;
}

#infoMahasiswa p:nth-child(1) {
    font-weight: bold;
    font-size: 1rem;
    margin: 0rem;
}

.card {
    width: 260px;
}

/* ubah urutan di beranda */
#contentKanan {
    display: flex;
    flex-direction: column;
}

#overlay {
    position: fixed;
    /* display: none; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}



#contentPreferensi p {
    font-weight: bold;
}

.form-check-input {
    width: 1.2rem;
    height: 1.2rem;
}

.ulNoType {
    list-style-type: none;
}

.btn.batal {
    background-color: #E5E5CB;
    transition: 0.4s all ease;
}

.btn.batal:hover {
    background-color: #c2c2a9;
    transition: 0.4s all ease;
}

.btn.simpan {
    background-color: #3C2A21;
    color: white;
    transition: 0.4s all ease;
    border: 3px solid #3C2A21;
}

.btn.simpan:hover {
    background-color: white;
    color: black;
    transition: 0.4s all ease;
    border: 3px solid #3C2A21;
}

/* higlight warna cekal per mahasiswa */
.cekal {
    font-size: 0.9rem;
    cursor: pointer;
    background-color: #dc3545;
    color: white;
    padding: 0.1rem 0.5rem;
    border-radius: 0.625rem;
}

.cekalSAC {
    cursor: pointer;
    background-color: #FFC107;
    color: white;
    padding: 0.1rem 0.5rem;
    border-radius: 0.625rem;
}

#infoIPK {
    font-size: 0.9rem !important;
}

/* snackbar */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

#snackbar {
    visibility: hidden;
    width: fit-content;
    min-width: 250px;
    background-color: #333;
    color: #fff;

    border-radius: 0.625rem;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#chartRataRataIPK p {
    font-size: 1.2rem;
    font-weight: bold;
}

#containerChart {
    background-color: white !important;
    border-radius: 0.625rem;
    width: 71.5vw;
    height: 80vh;
    box-shadow: 7px 7px 36px -4px rgb(0 0 0 / 25%);
    padding: 1.5rem 2.3rem 2rem;
}

#pagination {}

#itemCatatanGrupAngkatan {
    margin-top: 3rem;
}

#windowPreferensi {
    width: 400px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 7px 7px 36px -4px rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
    z-index: 2 !important;
    position: absolute;
}

#kolomHasilPencarian {
    width: 100%;
    height: 20rem;
    position: absolute;
    z-index: 1;
    background-color: white;
    box-shadow: 7px 7px 36px -4px rgb(0 0 0 / 25%);
    margin-top: 14vh;
    border-radius: 0.6rem;
    overflow-y: scroll;
    font-size: 1rem;
}

#kolomHasilPencarian #judulItemHasilPencarian {
    font-size: 1.2rem !important;
}

#itemHasilPencarian {
    border-radius: 0.2rem;
    /* transition: 0.1s all ease-in-out; */
}

#itemHasilPencarian:hover {
    background-color: #EFEFEF;
    /* transition: 0.1s all ease-in-out; */
}

#lihatSelengkapnyaHasilPencarian {
    cursor: pointer;
    color: #007BFF;
    font-weight: bold;
}

#lihatSelengkapnyaHasilPencarian:hover {
    cursor: pointer;
    font-weight: bold;
}

#namaMahasiswaHasilPencarian {
    font-weight: bolder;
    color: #3C2A21;
}

#namaMahasiswaHasilPencarian:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* transisi vue preferensi */
.v-enter-active,
.v-leave-active {
    transition: opacity 0.3s ease-in-out;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

#infoNamaDosen {
    font-size: 1rem !important;
}

#labelNamaDosen {
    background-color: #d5d5be !important;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}